button.mine-hidden {
    margin: 0;
    border: outset 1px;
}

button.val-1 {
    background-image: url("../../../public/images/1.png");
}

button.val-2 {
    background-image: url("../../../public/images/2.png");
}

button.val-3 {
    background-image: url("../../../public/images/3.png");
}

button.val-4 {
    background-image: url("../../../public/images/4.png");
}

button.val-5 {
    background-image: url("../../../public/images/5.png");
}

button.val-6 {
    background-image: url("../../../public/images/6.png");
}

button.val-7 {
    background-image: url("../../../public/images/7.png");
}

button.val-8 {
    background-image: url("../../../public/images/8.png");
}

button.val-0 {
    border: solid 1px gray;
    background-color: lightgray;
}

button.mine-flagged {
    background-image: url("../../../public/images/flag.png");
}

button.mine-query {
    background-image: url("../../../public/images/query.png");
}

div.field button.mine-shown {
    border: solid 1px gray;
    background-color: lightgray;
}

div.field button.mine-blown {
    border: solid 1px gray;
    background-color: lightgray;
    background-image: url("../../../public/images/mine.png");
}

