
.bottom-row * {
    font-size: 2rem;
}

.bottom-row button {
    margin-top: 0.5rem;
}

.bottom-row span {
    margin-top: 0.2rem;
    float: right;
}

.bottom-row input{
    width:5rem;
    margin-left: 0.3rem;
}

.bottom-row label{
    margin-left: 0.3rem;
}